<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
        <title>菩提阁</title>
        <link rel="icon" href="./../images/favico.ico">
        <!--不同屏幕尺寸根字体设置-->
        <script src="./../js/base.js"></script>
        <!--element-ui的样式-->
        <link rel="stylesheet" href="../../backend/plugins/element-ui/index.css" />
        <!--引入vant样式-->
        <link rel="stylesheet" href="../styles/vant.min.css"/>
        <!-- 引入样式  -->
        <link rel="stylesheet" href="../styles/index.css" />
        <!--本页面内容的样式-->
        <link rel="stylesheet" href="./../styles/login.css" />
      </head>
    <body>
        <div id="login" v-loading="loading">
            <div class="divHead">登录</div>
            <div class="divContainer">
                <el-input placeholder=" 请输入QQ邮箱" v-model="form.phone"  maxlength='20'/></el-input>
                <div class="divSplit"></div>
                <el-input placeholder=" 请输入验证码" v-model="form.code"  maxlength='20'/></el-input>

<!--这里的代码的作用是点击获取验证码后,按钮变成倒计时60s,60s后按钮变成获取验证码-->
                <span @click='getCode' v-show="show">获取验证码</span>
                <!--用户点击完【获取验证码】后倒计时60s-->
                <span @click='getCode' v-show="!show">重新获取 {{count}} s</span>
              
                </div>

            <div class="divMsg" v-if="msgFlag">邮箱输入不正确，请重新输入</div>

<!--            //修改登录按钮的样式-->
            <el-button type="primary" :class="{btnSubmit:1===1,btnNoPhone:!form.code||!form.phone,btnPhone:form.code&&form.phone}" @click="btnLogin">登录</el-button>
        </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../../backend/plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../../backend/plugins/element-ui/index.js"></script>
        <!-- 引入vant样式 -->
        <script src="./../js/vant.min.js"></script>  
        <!-- 引入axios -->
        <script src="../../backend/plugins/axios/axios.min.js"></script>
        <script src="./../js/request.js"></script>
        <script src="./../api/login.js"></script>
    </body>
    <script>
        new Vue({
            el:"#login",
            data(){
                return {
                    //控制【获取验证码】以及倒计时的显示开关
                    show: true, // 控制【获取验证码】以及倒计时的显示开关
                    count: '',  // 倒计时时长
                    timer: null,    // 计时器
                    form:{
                        phone:'',
                        code:''
                    },
                    msgFlag:false,
                    loading:false
                }
            },
            computed:{},
            created(){},
            mounted(){},
            methods:{
                getCode(){
                    //这里的代码的作用是点击获取验证码后,按钮变成倒计时60s,60s后按钮变成获取验证码
                    const TIME_COUNT = 60;  // 倒计时时长

                    this.form.code = ''
                    //const regex = /^(13[0-9]{9})|(15[0-9]{9})|(17[0-9]{9})|(18[0-9]{9})|(19[0-9]{9})$/;  // 手机号正则表达式
                    //把手机号的正则表达式改成邮箱的正则表达式
                    const regex =/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
                    if (regex.test(this.form.phone)) {
                        this.msgFlag = false

                        //把随机数的代码改成发送验证码的代码
                        sendMsgApi({phone:this.form.phone})
                        this.$notify({type: 'success', message: '验证码发送成功'})
                       // this.form.code = (Math.random()*1000000).toFixed(0)
                        //添加倒计时的代码
                        if (!this.timer) {
                            this.count = TIME_COUNT; // 倒计时时长
                            this.show = false; // 控制【获取验证码】以及倒计时的显示开关
                            this.timer = setInterval(() => {
                                if (this.count > 0 && this.count <= TIME_COUNT) {
                                    this.count--;
                                } else {       // 倒计时结束
                                    this.show = true;   // 控制【获取验证码】以及倒计时的显示开关
                                    clearInterval(this.timer); // 清除计时器
                                    this.timer = null;
                                }
                            }, 1000); // 计时器间隔
                        }


                    }else{
                        this.msgFlag = true
                    }
                },
                async btnLogin(){
                    if(this.form.phone && this.form.code){
                        this.loading = true

                        //这里的代码的作用是判断验证码是否正确,正确的话就跳转到首页
                        //awiat作用:等待异步代码执行完毕之后再执行后面的代码,loginApi是异步代码,发送请求到后台,from请求的内容有phone和code,后台才能判断验证码是否正确
                        const res = await loginApi(this.form)
                        this.loading = false
                        if(res.code === 1){
                            //把用户的手机号存储到sessionStorage中
                            localStorage.setItem('userInfo', JSON.stringify(res.data)) // 存储后端返回的用户对象
                            sessionStorage.setItem("userPhone",this.form.phone)
                            window.requestAnimationFrame(()=>{
                                this.$notify({type: 'success', message: res.data})//登录成功
                                window.location.href= '/front/index.html'
                            })                           
                        }else{
                            this.$notify({ type:'warning', message:res.msg});
                        }
                    }else{
                        this.$notify({ type:'warning', message:'请输入QQ邮箱'});
                    }
                }
            }
        })
    </script>
</html>